// bower:scss
// endbower

$body-bg: #f8f8ff;
$table-bg: #848488;
$text-color: #282830;
$font-family: 'Open Sans', sans-serif;

body {
  background: $body-bg;
  color: $text-color;
  font-family: $font-family;
}

.instruction-list {
	counter-reset: li;
	list-style: none;
  padding: 0;
  margin-left: 0;

  > li {
    margin-left: 2.2em;

    &:not(:last-child) {
      margin-bottom: 2em;
    }

    > p {
    	position: relative;
    	display: block;

      &:before {
      	content: counter(li);
      	counter-increment: li;
      	position: absolute;
      	left: -1.1em;
      	top: -0.1em;
      	font-size: 2em;
      	font-weight: bold;
        opacity: 0.4;
      }
    }
  }
}

.csv-import {
  textarea {
    display: block;
    resize: vertical;
    width: 60%;
    margin-bottom: 0.8em;
  }
}

.csv-column-mapping {
  span {
    display: inline-block;
    width: 10em;
  }
}

.data-table {
  border: 0;
  border-collapse: collapse;
  
  thead {
    th {
      text-align: left;
      background-color: rgba($table-bg, 0.3);

      .sorting {
        &:after {
          content: '\25b2';
          font-size: 0.6em;
          opacity: 0;
        }
        &.active::after {
          opacity: 1;
        }
      }
    }
  }

  tbody {
    tr:nth-child(odd) {
      background-color: rgba($table-bg, 0.1);
    }
    tr:nth-child(even) {
      background-color: rgba($table-bg, 0.2);
    }

    .thumb {
      width: auto;
      height: auto;
      max-width: 64px;
      max-height: 64px;
    }
  }
}
