<h1>About the Application</h1>

<p>This application has been developed for the <a href="http://trycatch.tech/" title="TryCatch">TryCatch</a> front-end coding challenge to show my software development competences, particularely in the area of front-end development.</p>

<ul>
  <li><p>The look and feel of the user interface has been kept as simple as possible on purpose to keep complexity at bay and to avoid using heavy UI frameworks such as Bootstrap or Foundation for this simple application.</p></li>
  <li><p>Many best practices are employed such as the DRY and single responsibility principles by using serivces and directives provided by the AngularJS framework.</p></li>
  <li><p>The application has been developed using a simplified version of Scrum where a branch including an issue has been created for every user story.</p></li>
</ul>

<h2>About the Author</h2>

<p>My name is <em>Vincent Wochnik</em>, I am a student of the <em>Fontys University of Applied Sciences in Venlo</em> currently finishing my Bachelor's degree in computer sciences.</p>

<ul>
  <li><a href="mailto:%76%69%6E%63%65%6E%74@%76%69%6E%63%65%6E%74%77%6F%63%68%6E%69%6B.%63%6F%6D" title="Send me an e-mail">Send me an e-mail.</a></li>
  <li><a href="http://vincentwochnik.com/" title="Visit my website">Visit my website.</a></li>
  <li><a href="skype:%76.%77%6F%63%68%6E%69%6B?call" title="Call me on Skype">Call me on Skype.</a></li>
  <li><a href="https://github.com/vwochnik" title="Visit my Github profile">Visit my Github profile.</a></li>
  <li><a href="http://lnkd.in/d5yxEw6" title="Visit my LinkedIn profile">Visit my LinkedIn profile.</a></li>
</ul>
